<mat-toolbar>
    <div class="flex flex--justify-between full-width">
        <div class="header__button-controller flex flex--justify-around">
            <button mat-button color="primary">
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </button>
            <button mat-button color="primary">
                <a [routerLink]="['/tablas']" routerLinkActive="active">Tablas</a>
            </button>
        </div>
        <span>Quelona</span>
    </div>
</mat-toolbar>