.footer
    height: 8dvh
    display: flex
    padding: 0 1.2rem 0
    justify-content: space-between
    align-items: center
    background: linear-gradient(-138deg, rgba(245,245,245,1) 2%, rgba(109,66,186,1) 69%, rgba(13,71,161,1) 98%)

    @media screen and (max-width: 900px)
        flex-direction: column

    @media screen and (max-width: 568px)
        text-wrap: nowrap
        overflow-x: scroll
        align-items: flex-start
        

.names
    display: flex
    flex-direction: row
    gap: 1rem

.list
    display: flex
    flex-direction: column
