<div class="mat-elevation-z8 container container--main">
    <div class="container container--buttons">
        <button (click)="refresh()" mat-button color="primary" mat-raised-button matTooltip="Carga la tabla nuevamente. Reemplaza cualquier cambio no guardado.">
            Recargar Datos
        </button>
        <button (click)="save()" mat-button color="warn" mat-raised-button matTooltip="Guarda los cambios en la base de datos.">
            Guardar Cambios
        </button>
    </div>
    <mat-spinner class="spinner" *ngIf="loading; else elseBlock"></mat-spinner>
    <ng-template  #elseBlock>
        <div class="container--table">
            <table class="main_table" mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource">
                <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ col.label }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field class="container--field">
                            <input class="field" 
                                matInput
                                [ngClass]="{
                                    'field--editable': col.editable,
                                    'field--disabled': !col.editable,
                                    'utility--text_end': col.key !== 'code',
                                }"
                                [type]="col.type"
                                [(ngModel)]="element[col.key]"
                                [readonly]="!col.editable"
                            >
                        </mat-form-field>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </ng-template>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
    <div class="container container--buttons">
        <button class="utility--no_border" (click)="download()" mat-button color="primary" mat-stroked-button matTooltip="Descargar el estado actual de la tabla como .csv">
            Descargar Datos
        </button>
    </div>
</div>